Repository MiniZinc/libminizinc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:format, test:analyse

Path conditions:
  test:format: any of: **/*.{cpp,c,h,hh,hpp}, .clang-format
  test:analyse: any of: **/*.{cpp,c,h,hh,hpp}, .clang-tidy

Fix handling of float values in parameter configuration files
  changes.rst
  lib/param_config.cpp
Due: test:format, test:analyse

Add check to see whether function items can be flattened/evaluated
  changes.rst
  include/minizinc/ast.hh
  include/minizinc/model.hh
  lib/ast.cpp
  lib/builtins.cpp
  lib/flattener.cpp
  lib/model.cpp
  lib/passes/compile_pass.cpp
  lib/solns2out.cpp
  share/minizinc/std/nosets.mzn
  share/minizinc/std/output/array2d_bool.mzn
  share/minizinc/std/output/gantt.mzn
  share/minizinc/std/stdlib/stdlib_ann.mzn
  share/minizinc/std/stdlib/stdlib_array.mzn
  share/minizinc/std/stdlib/stdlib_coercion.mzn
  share/minizinc/std/stdlib/stdlib_compare.mzn
  share/minizinc/std/stdlib/stdlib_enum.mzn
  share/minizinc/std/stdlib/stdlib_internal.mzn
  share/minizinc/std/stdlib/stdlib_logic.mzn
  share/minizinc/std/stdlib/stdlib_math.mzn
  share/minizinc/std/stdlib/stdlib_opt.mzn
  share/minizinc/std/stdlib/stdlib_set.mzn
  share/minizinc/std/stdlib/stdlib_string.mzn
  tests/spec/unit/regression/assign_reverse_map.mzn
Due: test:format, test:analyse

Disable clang-tidy identifier length error
  .clang-tidy
Due: test:analyse

make string to c_str operations compatible with clang-tidy
  include/minizinc/solvers/MIP/MIP_solverinstance.hpp
  include/minizinc/solvers/MIP/MIP_wrap.hh
  lib/file_utils.cpp
  lib/parser.cpp
  solvers/MIP/MIP_cplex_wrap.cpp
  solvers/MIP/MIP_gurobi_wrap.cpp
  solvers/MIP/MIP_osicbc_wrap.cpp
  solvers/MIP/MIP_scip_wrap.cpp
Due: test:format, test:analyse

Always load infinity symbol for SCIP
  changes.rst
  solvers/MIP/MIP_scip_wrap.cpp
Due: test:format, test:analyse

Avoid crash in CBC when bestSolution is nullptr
  changes.rst
  solvers/MIP/MIP_osicbc_wrap.cpp
Due: test:format, test:analyse

Update changelog for 2.6.4
  changes.rst
Due: none

Increase version number for development build
  CMakeLists.txt
Due: none

Add documentation for the changes
  changes.rst
  docs/en/flattening.rst
  docs/en/fzn-spec.rst
  share/minizinc/std/flatzinc_builtins.mzn
Due: none

Rewrite array_bool_or to bool_clause built-in
  include/minizinc/ast.hh
  lib/ast.cpp
  lib/flatten.cpp
Due: test:format, test:analyse

Refactor redefinition checks to use identifiers in constants
  include/minizinc/ast.hh
  lib/ast.cpp
  lib/flatten.cpp
Due: test:format, test:analyse

Fix half reification checks in flatten function
  include/minizinc/ast.hh
  lib/ast.cpp
  lib/flatten.cpp
  lib/flatten/flatten_call.cpp
Due: test:format, test:analyse

Update compilation test results to reflect bool_clause change
  tests/spec/unit/compilation/implied_hr.fzn
  tests/spec/unit/compilation/optimization_0.fzn
  tests/spec/unit/compilation/optimization_1.fzn
  tests/spec/unit/optional/test_bug_456.fzn
Due: none

Add better handling of HiGHS status messages
  solvers/MIP/MIP_highs_wrap.cpp
Due: test:format, test:analyse

highs: correct the behaviour when using the stdflags
  include/minizinc/solvers/MIP/MIP_highs_wrap.hh
  solvers/MIP/MIP_highs_wrap.cpp
Due: test:format, test:analyse

highs: fix setting objective costs
  solvers/MIP/MIP_highs_wrap.cpp
  solvers/MIP/MIP_wrap.cpp
Due: test:format, test:analyse

highs: add (optional) bounds changing virtual method
  include/minizinc/solvers/MIP/MIP_highs_wrap.hh
Due: test:format, test:analyse

Add first draft for the HiGHS interface
  CMakeLists.txt
  cmake/targets/libminizinc_highs.cmake
  cmake/targets/libmzn.cmake
  include/minizinc/solvers/MIP/MIP_cplex_wrap.hh
  include/minizinc/solvers/MIP/MIP_gurobi_wrap.hh
  include/minizinc/solvers/MIP/MIP_highs_solverfactory.hh
  include/minizinc/solvers/MIP/MIP_highs_wrap.hh
  include/minizinc/solvers/MIP/MIP_osicbc_wrap.hh
  include/minizinc/solvers/MIP/MIP_scip_wrap.hh
  include/minizinc/solvers/MIP/MIP_wrap.hh
  include/minizinc/solvers/MIP/MIP_xpress_wrap.hh
  lib/solver.cpp
  solvers/MIP/MIP_highs_solverfactory.cpp
  solvers/MIP/MIP_highs_wrap.cpp
Due: test:format, test:analyse

Add HiGHS to CMake configuration output
  cmake/support/config_output.cmake
Due: none

highs: only print a solution when possible
  solvers/MIP/MIP_highs_wrap.cpp
Due: test:format, test:analyse

Search for highs CMake package in ./vendor directory
  CMakeLists.txt
  solvers/MIP/MIP_highs_wrap.cpp
Due: test:format, test:analyse

highs: add -i flag for compatibility (does not do anything)
  include/minizinc/solvers/MIP/MIP_highs_wrap.hh
  solvers/MIP/MIP_highs_wrap.cpp
Due: test:format, test:analyse

Add highs to the unit testing suite
  changes.rst
  tests/minizinc_testing/spec.py
  tests/spec/unit/division/test_div10.mzn
  tests/spec/unit/division/test_div11.mzn
  tests/spec/unit/division/test_div8.mzn
  tests/spec/unit/general/mortgage.mzn
  tests/spec/unit/general/test-search1.mzn
  tests/spec/unit/general/test_same.mzn
  tests/spec/unit/general/test_set_lt_3.mzn
  tests/spec/unit/general/test_var_set_element.mzn
  tests/spec/unit/globals/global_cardinality_closed/globals_global_cardinality_low_up_closed.mzn
  tests/spec/unit/globals/int_set_channel/test_int_set_channel2.mzn
  tests/spec/unit/globals/nvalue/globals_nvalue.mzn
  tests/spec/unit/globals/subcircuit/test_subcircuit.mzn
  tests/spec/unit/optional/test-opt-binop-flatten.mzn
  tests/spec/unit/optional/test-opt-bool-1.mzn
  tests/spec/unit/optional/test-opt-compute-bounds.mzn
  tests/spec/unit/optional/test-opt-float-1.mzn
  tests/spec/unit/optional/test-opt-float-2.mzn
  tests/spec/unit/optional/test-opt-int-1.mzn
  tests/spec/unit/regression/array_set_element_nosets.mzn
  tests/spec/unit/regression/array_var_set_element_nosets.mzn
  tests/spec/unit/regression/bounds_for_linear_01_max_0.mzn
  tests/spec/unit/regression/bounds_for_linear_01_max_1.mzn
  tests/spec/unit/regression/bounds_for_linear_01_min_0.mzn
  tests/spec/unit/regression/bounds_for_linear_01_min_1.mzn
  tests/spec/unit/regression/bug222.mzn
  tests/spec/unit/regression/bug269.mzn
  tests/spec/unit/regression/bug347.mzn
  tests/spec/unit/regression/bug380.mzn
  tests/spec/unit/regression/bug70.mzn
  tests/spec/unit/regression/var_self_assign_bug.mzn
  tests/spec/unit/test-globals-float.mzn
Due: none

Correct ZLIB CMake dependency to be location independent
  cmake/modules/FindOsiCBC.cmake
  cmake/support/config_export.cmake
Due: none

Add HiGHS dependency to exported CMake Configuration
  cmake/support/config_export.cmake
Due: none

highs: combine setOutput methods to detect inconsistencies
  include/minizinc/solvers/MIP/MIP_highs_wrap.hh
  solvers/MIP/MIP_highs_wrap.cpp
Due: test:format, test:analyse

Disable unit test for highs because of inconsistent solver result
  tests/spec/unit/globals/alldifferent/globals_alldiff_set_nosets.mzn
Due: none

Regenerate SCIP 3rd party interface header
  changes.rst
  cmake/scripts/gen_header.py
  include/minizinc/_thirdparty/scip_interface.h
  solvers/MIP/MIP_scip_wrap.cpp
Due: test:format, test:analyse

Handle more binary operator expressions as linear expressions
  changes.rst
  lib/flatten/flatten_binop.cpp
  tests/spec/unit/general/test_var_prod.mzn
Due: test:format, test:analyse

Remove more subsumed clauses and foralls in the optimisation phase of the compiler
  changes.rst
  lib/optimize.cpp
Due: test:format, test:analyse

Remove right hand side of Boolean variable declarations that are constant true when possible
  lib/optimize.cpp
Due: test:format, test:analyse

Report approximate error locations for type errors in function arguments that are literals without location information.
  changes.rst
  include/minizinc/ast.hh
  lib/ast.cpp
  lib/builtins.cpp
  lib/flatten.cpp
  lib/flatten/flatten_arrayaccess.cpp
  lib/flatten/flatten_binop.cpp
  lib/flatten/flatten_call.cpp
  lib/flatten/flatten_comp.cpp
  lib/flatten/flatten_id.cpp
  lib/flatten/flatten_ite.cpp
  lib/flatten/flatten_setlit.cpp
  lib/output.cpp
  lib/typecheck.cpp
Due: test:format, test:analyse

Embed up to four arguments into Call objects to avoid allocating additional vectors
  include/minizinc/ast.hh
  include/minizinc/ast.hpp
  lib/MIPdomains.cpp
  lib/ast.cpp
  lib/builtins.cpp
  lib/cached/md5_cached.cmake
  lib/cached/parser.tab.cpp
  lib/chain_compressor.cpp
  lib/copy.cpp
  lib/eval_par.cpp
  lib/flatten.cpp
  lib/flatten/flatten_arrayaccess.cpp
  lib/flatten/flatten_binop.cpp
  lib/flatten/flatten_call.cpp
  lib/flatten/flatten_comp.cpp
  lib/flatten/flatten_id.cpp
  lib/flatten/flatten_ite.cpp
  lib/flatten/flatten_let.cpp
  lib/flatten/flatten_setlit.cpp
  lib/flatten/flatten_unop.cpp
  lib/gc.cpp
  lib/json_parser.cpp
  lib/optimize_constraints.cpp
  lib/output.cpp
  lib/parser.yxx
  lib/type_specialise.cpp
  lib/typecheck.cpp
  solvers/geas/geas_constraints.cpp
  solvers/gecode/gecode_solverinstance.cpp
Due: test:format, test:analyse

Memory optimisations
  changes.rst
  include/minizinc/ast.hh
  include/minizinc/ast.hpp
  include/minizinc/astmap.hh
  include/minizinc/flatten_internal.hh
  include/minizinc/gc.hh
  include/minizinc/hash.hh
  include/minizinc/optimize.hh
  include/minizinc/typecheck.hh
  lib/MIPdomains.cpp
  lib/ast.cpp
  lib/builtins.cpp
  lib/cached/md5_cached.cmake
  lib/cached/parser.tab.cpp
  lib/chain_compressor.cpp
  lib/copy.cpp
  lib/flatten.cpp
  lib/flatten/flatten_binop.cpp
  lib/flatten/flatten_call.cpp
  lib/flatten/flatten_id.cpp
  lib/flatten/flatten_par.cpp
  lib/flattener.cpp
  lib/gc.cpp
  lib/optimize.cpp
  lib/output.cpp
  lib/parser.yxx
  lib/typecheck.cpp
Due: test:format, test:analyse

Fix parsing JSON enum values using constructor functions with int args
  changes.rst
  lib/json_parser.cpp
  tests/spec/unit/json/anon_enum_json.mzn
  tests/spec/unit/json/enum_constructor_basic.mzn
  tests/spec/unit/json/enum_constructor_int.json
  tests/spec/unit/json/enum_constructor_int.mzn
  tests/spec/unit/json/enum_constructor_nested.mzn
  tests/spec/unit/regression/constructor_of_set.mzn
Due: test:format, test:analyse

Fix the `..` operator on variable integers to create sets with tighter bounds
  changes.rst
  share/minizinc/std/stdlib/stdlib_set.mzn
Due: none

Fix base64 decoder for archs where char is unsigned
  lib/cdecode.c
Due: test:format, test:analyse

Update libb64 to version 2.0.0
  cmake/targets/libmzn.cmake
  include/minizinc/_thirdparty/b64/ccommon.h
  include/minizinc/_thirdparty/b64/cdecode.h
  include/minizinc/_thirdparty/b64/cencode.h
  include/minizinc/_thirdparty/b64/decode.h
  include/minizinc/_thirdparty/b64/encode.h
  lib/cencode.c
  lib/thirdparty/cdecode.c
  lib/thirdparty/cencode.c
Due: test:format, test:analyse

Update miniz to version 2.2.0
  include/minizinc/_thirdparty/miniz.h
  lib/thirdparty/miniz.c
Due: test:format, test:analyse

Always use -G for solver configuration global directories
  changes.rst
  lib/flattener.cpp
  lib/solver.cpp
Due: test:format, test:analyse
